<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->
<button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5"> <img src="assets/images/users/user.png" alt="user"
        class="profile-pic"> </button>
<mat-menu #profile="matMenu" class="mymegamenu">
    <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon> Desativar notificações
    </button>
    <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon> Sair
    </button>
</mat-menu>