<app-card [title]="'Início'">
    <!-- Row -->
    <div fxLayout="row" fxLayoutWrap="wrap">
        <!-- column -->
        <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
            Your global Angular CLI version (6.2.5) is greater than your local version (6.1.5). The local Angular CLI version is used. To disable this warning use "ng config -g cli.warnings.versionMismatch false". Two or more projects are using identical roots. Unable to determine project using current working directory. Using default workspace project instead.
            <br /><br />
            <a mat-raised-button color="warn">Home</a>
        </div>
    </div>
</app-card>