<app-card [title]="'Repondendo Manisfestação: ' + responseForm.value.year">
    <form [formGroup]="responseForm" novalidate (ngSubmit)="onSubmit()">

        <div class="row">
            <div class="col-md-12">
                <mat-form-field floatLabel="always">
                    <textarea matInput type="text" formControlName="manifestationText" placeholder="Mensagem" [readonly]="true"></textarea>
                </mat-form-field>
            </div>
            
            <div class="col-md-12">
                <mat-form-field floatLabel="always">
                    <textarea matInput type="text" formControlName="answerLetter" placeholder="Digite a resposta"></textarea>
                </mat-form-field>
            </div>
        </div>

        <div>
            <button mat-raised-button color="warn" [routerLink]="['/manifestations']">Cancelar</button>

            <button mat-raised-button type="submit" color="primary" style="float: right;">
                Responder
            </button>
        </div>

    </form>
</app-card>