<app-card [title]="'Repondendo Manisfestação'">
    <form [formGroup]="manifestationForm" novalidate (ngSubmit)="onSubmit()">
        
        <div class="row" style="margin-bottom: 10px">
            <div class="col-md-12">
                <button mat-raised-button color="warn" [routerLink]="['/manifestations']">Cancelar</button>
    
                <button mat-raised-button type="submit" color="primary" style="float: right;">
                    Responder
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-8">

                <div class="row">

                    <div class="col-md-12 col-lg-3">
                        <mat-form-field floatLabel="always" >
                            <input matInput type="number" formControlName="protocol" placeholder="Protocolo" [readonly]="true"/>
                        </mat-form-field>
                    </div>
                    
                    <div class="col-md-12 col-lg-3">
                        <mat-form-field floatLabel="always">
                            <input matInput [matDatepicker]="picker" formControlName="dateIncluded" placeholder="Data de Inclusão" [readonly]="true">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker [disabled]="true" #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    
                    <div class="col-md-12 col-lg-6">
                        <mat-form-field floatLabel="always" formGroupName="classification">
                            <input matInput type="text" formControlName="description" placeholder="Classificação" [readonly]="true"/>
                        </mat-form-field>
                    </div>

                    <div class="col-md-12 col-lg-6">
                        <mat-form-field floatLabel="always" formGroupName="segment">
                            <input matInput type="text" formControlName="description" placeholder="Segmento" [readonly]="true"/>
                        </mat-form-field>
                    </div>
                    
                    <div class="col-md-12 col-lg-6">
                        <mat-form-field floatLabel="always" formGroupName="place">
                            <input matInput type="text" formControlName="description" placeholder="Origem" [readonly]="true"/>
                        </mat-form-field>
                    </div>

                    <div class="col-md-12 col-lg-6">
                        <mat-form-field floatLabel="always" formGroupName="subject">
                            <input matInput type="text" formControlName="description" placeholder="Assunto" [readonly]="true"/>
                        </mat-form-field>
                    </div>
                    
                    <div class="col-md-12 col-lg-6">
                        <mat-form-field floatLabel="always" formGroupName="subSubject">
                            <input matInput type="text" formControlName="description" placeholder="SubAssunto" [readonly]="true"/>
                        </mat-form-field>
                    </div>

                </div>

            </div>

            <div class="col-md-6 col-lg-4">
                <slideshow [height]="'200px'"
                        [minHeight]="'200px'"
                        [autoPlay]="true"
                        [arrowSize]="'15px'"
                        [showArrows]="true"
                        [imageUrls]="imageSources"
                        [lazyLoad]="imageSources?.length > 1"
                        [autoPlayWaitForLazyLoad]="true"
                        [showDots]="true">
                </slideshow>
            </div>

        </div>

        <div class="row">
            
                <div class="col-md-12">
                    <mat-form-field floatLabel="always">
                        <textarea matInput type="text" formControlName="manifestationText" placeholder="Texto da Manisfestação" [readonly]="true"></textarea>
                    </mat-form-field>
                </div>
        </div>
        
    </form>
</app-card>