<app-card [title]="'Manisfestações'">

  <table mat-table [dataSource]="dataSource" matSort>

    <div *ngFor="let displayedColumn of displayedColumns; let i = index;">
      <ng-container *ngIf="displayedColumn != 'buttons' && displayedColumn.indexOf(':') == -1" matColumnDef="{{displayedColumn}}">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columnsNames[i]}} </th>
        <ng-container *ngIf="displayedColumn == 'dateIncluded'">
          <td mat-cell *matCellDef="let element" > 
            {{showDescriptiom(element, displayedColumn) | date:'dd/mm/yyy'}} 
          </td>
        </ng-container>
        <ng-container *ngIf="displayedColumn != 'dateIncluded'">
          <td mat-cell *matCellDef="let element" > 
            {{showDescriptiom(element, displayedColumn)}} 
          </td>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="displayedColumn.indexOf(':') != -1" matColumnDef="{{displayedColumn}}">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columnsNames[i]}} </th>
        <td mat-cell *matCellDef="let element"> {{apllyOptions(element, displayedColumn)}} </td>
      </ng-container>
      <ng-container *ngIf="displayedColumn == 'buttons'" matColumnDef="buttons">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element" class="row">
          <button mat-raised-button style="margin: 5px;" color="accent" (click)="edit(element)">Visualizar</button>
        </td>
      </ng-container>
    </div>    

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  
</app-card>